h1 {
  color: #3333ff;
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
}
h3 {
  color: #e69900;
  font-size: 40px;
  font-family: fantasy;
}
li {
  font-size: 25px;
  font-family: fantasy;
}

.dark-background {
  background-color: gray;
}

.light-background {
  background-color: yellow;
}
